.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
}

.header .title {
  color: #f68b68;
  font-size: 1.5em;
}

.header form input[type="text"] {
  height: 2em;
}

.header form button {
  height: 2em;
  background-color: black;
  color: white;
}
