html {
  font-size: 16px;
}

body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
}

.header .title {
  color: #f68b68;
  font-size: 1.5em;
}

.header form input[type="text"] {
  height: 2em;
}

.header form button {
  height: 2em;
  background-color: black;
  color: white;
}

.banner {
  width: 100%;
}

.banner img {
  width: 100%;
  display: block;
}

.menu ul {
  display: flex;
  height: 80px;
  background-color: #2fc2bc;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.menu li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.intro {
  padding: 1em;
}

.intro h1 {
  color: #f68b68;
  font-size: 2em;
  text-align: center;
  margin-bottom: 1.2em;
}

.intro p {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.cards {
  display: flex;
  gap: 2em;
  padding: 1em;
}

.cards > div {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 0px 10px 77px 56px rgba(0, 0, 0, 0.1);
}

.cards > div > img {
  height: 400px;
}

.cards > div > h4 {
  text-align: center;
  margin: 1.2em 0;
  font-size: 1.2em;
}

.cards > div > p {
  display: flex;
  gap: 1em;
  justify-content: center;
  color: red;
  font-weight: 600;
}

.cards > div > p > del {
  color: black;
  font-weight: 400;
}

.cards > div > div {
  margin: 1em auto;
  background-color: #f47e17;
  padding: 1em 2em;
  color: white;
  border-radius: 9999px;
  font-weight: 500;
}

.feedback {
  padding: 1em;
}

.feedback h1 {
  color: #f47e17;
  font-size: 2em;
  text-align: center;
  margin: 1em 0;
}

.feedback > p {
  font-size: 1.2em;
  margin-bottom: 1em;
}

.feedback-image {
  float: left;
  width: calc(50% - 10px);
  border-radius: 1em;
  box-shadow: 0px 10px 77px 56px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: 615px;
}

.feedback-form {
  float: right;
  width: 50%;
  width: calc(50% - 10px);
  padding: 1em;
  border-radius: 1em;
  box-shadow: 0px 10px 77px 56px rgba(0, 0, 0, 0.1);
  height: 615px;
}

.feedback-form form > div {
  display: flex;
  margin-bottom: 1em;
  align-items: flex-end;
}

.feedback-form form > div > label {
  width: 30%;
  display: block;
  color: #f47e17;
  font-weight: 600;
}

.feedback-form form > div > input,
.feedback-form form > div > textarea {
  width: 70%;
  height: 2.5em;
  border: 1px solid grey;
  border-radius: 5px;
}

.feedback-form form > div > textarea {
  height: 10em;
}

.feedback-form form > div:last-child {
  display: flex;
  justify-content: center;
  gap: 2em;
  margin-top: 2em;
}

.feedback-form form > div:last-child > input {
  width: 12em;
  border: none;
  background-color: #f47e17;
  color: white;
  border-radius: 0;
  height: 3em;
}
